antiorm==1.2.1
argcomplete==1.10.0
beautifulsoup4==4.8.0
blis==0.7.4
catalogue==2.0.4
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
colorama==0.4.4
cycler==0.10.0
cymem==2.0.5
db==0.1.1
db-sqlite3==0.0.1
docx2txt==0.8
EbookLib==0.17.1
extract-msg==0.23.1
Flask==2.0.0
Flask-MySQL==1.5.2
Flask-MySQLdb==0.2.0
gunicorn==20.1.0
idna==2.10
IMAPClient==2.1.0
itsdangerous==2.0.0
Jinja2==3.0.0
joblib==1.0.1
kiwisolver==1.3.1
lxml==4.6.3
MarkupSafe==2.0.0
matplotlib==3.4.2
murmurhash==1.0.5
mysqlclient==2.0.3
nltk==3.6.2
numpy==1.20.3
olefile==0.46
packaging==20.9
pandas==1.2.4
passlib==1.7.4
pathy==0.5.2
pdfminer.six==20181108
Pillow==8.2.0
preshed==3.0.5
pycryptodome==3.10.1
pydantic==1.7.4
pygal==2.4.0
PyMySQL==1.0.2
pyparsing==2.4.7
PyPDF2==1.26.0
python-dateutil==2.8.1
python-pptx==0.6.18
pytz==2021.1
regex==2021.4.4
requests==2.25.1
six==1.12.0
smart-open==3.0.0
sortedcontainers==2.3.0
soupsieve==2.2.1
spacy==3.0.6
spacy-legacy==3.0.5
SpeechRecognition==3.8.1
srsly==2.4.1
textract==1.6.3
thinc==8.0.3
tqdm==4.60.0
typer==0.3.2
tzlocal==1.5.1
urllib3==1.26.4
wasabi==0.8.2
Werkzeug==2.0.0
WTForms==2.3.3
xlrd==1.2.0
XlsxWriter==1.4.3
